@model QuestApp.Models.GuessingGameModel

<form method="post" asp-action="Guess">
    <label asp-for="UserGuess">Введите вашу версию:</label>
    <input asp-for="UserGuess" />
    <input type="submit" value="Угадать" />
</form>

<hr />

<h3>Предыдущие версии:</h3>
<ul>
    @if (Model.PreviousGuesses != null)
    {
        
    @foreach (var guess in Model.PreviousGuesses)
    {
        <li>@guess</li>
        }
    }
    else
    {
        
    <li>"Begin!"</li>
    }

</ul>

<p>@Model.Feedback</p>

@if (Model.IsGameOver)
{
    <p>Игра окончена! Загаданное слово было "@Model.SecretWord".</p>
}